/* Globals */
body { 
  padding-top: 40px; 
}
thead {
  background-color: #EC971F;
}
/* Custom Elements */
.loading-bar {
  background-image: url('../img/WindowsPhoneProgressbar.gif');
  height: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  top: -40px;
  z-index: 1031;
  visibility: hidden;
}
.delete-border {
  border: 3px dashed red;
}
.edit-border {
  border: 3px dashed cyan;
}
.tile .panel-heading{
  padding: 5px 10px;
  height: 455px;
  overflow: auto;
}
.tile h3 {
  margin-top: 4px;
}
.form-control-like {
  height: 39px;
  vertical-align: middle;
  padding: 8px 16px 8px 0px;
}
/* Bootstrap Fixes */
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #31B0D5;
}
.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}
