<!-- ADD FROM ITEMS MODAL -->
<div class="modal fade" id="add-from-items" tabindex="-1" role="dialog" aria-labelledby="addItem" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Enter Item Details</h2>
      </div>
      <form id="add-from-items-form" action="php/add_from_items.php" method="post">
        <div class="modal-body">
          <input name="item_id" class="to-add-id" hidden/>
          <div class="form-group form-inline">
            <label>Item Name</label>
            <input name="name" type="text" class="form-control" placeholder="Name of Item" disabled/> 
            <label>Maximum Retail Price ₹</label>
            <input type="text" name="mrp" class="form-control" placeholder="Maximum Retail Price" disabled/>
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea name="description" class="form-control" rows="4" placeholder="Description" disabled></textarea> 
          </div>
          <div class="form-group form-inline">
            <label>Sell Price ₹</label>
            <input name="sell_price" type="text" class="form-control" placeholder="Sell Price"/> 
            <label>Cost Price ₹</label>
            <input name="cost_price" type="text" class="form-control" placeholder="Cost Price"/>
            <label>Quantity</label>
            <input name="quantity" type="text" class="form-control" placeholder="Quantity"/>
          </div>
          <div class="message alert"></div>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
          <button class="btn btn-info"> Update Item </button>
        </div>
      </form>
    </div>
  </div>
</div>

