<!-- ADD ITEM -->
<div class="modal fade add-modal" id="add-item" tabindex="-1" role="dialog" aria-labelledby="addItem" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Enter Item Details</h2>
      </div>
      <form id="add-item-form" action="php/add_item.php" method="post">
        <div class="modal-body">
          <div class="form-group form-inline">
            <label>Item Name</label>
            <input name="name" type="text" class="form-control" placeholder="Name of Item" /> 
            <label>Maximum Retail Price ₹</label>
            <input type="text" name="mrp" class="form-control" placeholder="Maximum Retail Price" />
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea name="description" class="form-control" rows="4" placeholder="Description" ></textarea> 
          </div>
          <div class="form-group form-inline">
            <label>Sell Price ₹</label>
            <input name="sell_price" type="text" class="form-control" placeholder="Sell Price"/> 
            <label>Cost Price ₹</label>
            <input name="cost_price" type="text" class="form-control" placeholder="Cost Price"/>
            <label>Quantity</label>
            <input name="quantity" type="text" class="form-control" placeholder="Quantity"/>
          </div>
          <div class="message alert"></div>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
          <button class="btn btn-primary"> Add Item </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- DELETE ITEM -->
<div class="modal fade delete-modal" id="del-item" tabindex="-1" role="dialog" aria-labelledby="deleteItem" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Are you sure you want to delete this item?</h2>
      </div>
      <form id="del-item-form" action="php/delete_item.php" method="post">
        <div class="modal-body">
          This action can not be undone! This will also delete the invoices done with this item.
          <input type="text" name="item_id" class="to-delete-id" value=-1 hidden>
          <div class="message alert"></div>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
          <button class="btn btn-primary"> Delete Item </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- EDIT ITEM MODAL -->
<div class="modal fade edit-modal" data-type="item" id="edit-item" tabindex="-1" role="dialog" aria-labelledby="addItem" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Enter New Item Details</h2>
      </div>
      <form id="edit-item-form" action="php/update_item.php" method="post">
        <div class="modal-body">
          <input name="item_id" class="to-edit-id" hidden/>
          <div class="form-group form-inline">
            <label>Item Name</label>
            <input name="name" type="text" class="form-control" placeholder="Name of Item" disabled/> 
            <label>Maximum Retail Price ₹</label>
            <input type="text" name="mrp" class="form-control" placeholder="Maximum Retail Price" disabled/>
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea name="description" class="form-control" rows="4" placeholder="Description" disabled></textarea> 
          </div>
          <div class="form-group form-inline">
            <label>Sell Price ₹</label>
            <input name="sell_price" type="text" class="form-control" placeholder="Sell Price"/> 
            <label>Cost Price ₹</label>
            <input name="cost_price" type="text" class="form-control" placeholder="Cost Price"/>
            <label>Quantity</label>
            <input name="quantity" type="text" class="form-control" placeholder="Quantity"/>
          </div>
          <div class="message alert"></div>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
          <button class="btn btn-info"> Update Item </button>
        </div>
      </form>
    </div>
  </div>
</div>

